@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/dist/css/AdminLTE.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/dist/css/skins/skin-blue.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/plugins/iCheck/square/blue.css";
@import "https://cdn.rawgit.com/almasaeed2010/AdminLTE/master/bower_components/Ionicons/css/ionicons.min.css";

h2 {
    color: #00f
}


.collapsible .contents {
    overflow: hidden;
}

.collapsible.collapsed .contents {
    height: 1.2em;
}

.commentsBox {
    width: 320px;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
}

.titleBox {
    background-color:#fdfdfd;
    padding:10px;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
    font-weight: bold;
}

.comments {
    padding: 10px;
    word-break:break-all;
}

.noTopBorder {
    border-top: none !important;
}

.titlePadding {
    padding-bottom: 10px;
}

.w1 {
    width: 20px;
}

.w2 {
    width: 40px;
}

.w3 {
    width: 60px;
}

.w4 {
    width: 80px;
}

.dashboard-count-boxes {
  display: inline-block;
}

.icheckbox_square-blue input, ins{
    position: absolute;
    top: -20%;
    left: -20%;
    display: block;
    width: 140%;
    height: 140%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}

.login-page{
    height: 600px;
    margin-top: -60px;
    padding-top: 50px;
}
